/*HH | Feb 2026 | Updates to offset changes in search page styling*/
html form.gsc-search-box {
    max-width: 100%;
    margin: 0;
}

html .gsst_a .gscb_a {
    translate: 0 -60%;
}

html :is(.gsc-wrapper, .gsc-above-wrapper-area) {
    max-width: 100%;
}
.gs-result div.gs-title:hover {
    text-decoration: none;
}
html .gsc-refinementHeader.gsc-refinementhActive, 
html .gsc-refinementHeader{
    padding: 14px 0 !important;
    margin-left: 0;
    margin-right: 20px;
}
html .gsc-control-cse .gsc-option-menu-container {
    display: flex;
    gap: .5rem;
    justify-content: end;
    align-items: center;
}

html .gsc-orderby-label {
    padding-top: 0 !important;
}

html .gsc-control-cse .gsc-option-menu {
    right: 0;
    left: unset;
}
html .gsc-control-cse .gsc-selected-option-container {
    padding: .875rem 2.5rem .875rem 0.275rem !important;
}
html :is(.gsc-refinementsArea, .gsc-result-info) {
    padding-left: 0;
}
.gsc-refinementHeader.gsc-inline-block {
    text-transform: capitalize;
} 
/*End HH | Feb 2026*/

@media only screen and (min-width: 1024px) {
    .programs-request-info-form__outer + .paragraph-widget--text-html:has(+ .paragraph-widget--news-story-group) {
        margin-block-start: 6.25rem;
    }
}
@media screen and (min-width: 1200px) {
    div.news-article .programs-request-info-form {
        padding-inline: 6.625rem;
    }
}
html .subnav__list > ul > li a[aria-current=page] {
    pointer-events: none;
    color: #c8102e;
    font-weight: 600;
}
h2.modal__content-title strong,  h2.modal__content-title em {
    font-weight: 600;
}

h2.modal__content-title em {
    color: #c8102e;
}

.modal-on-load .modal__content-body strong {
    font-weight:600;
}

.news-article .hero__title em {
    color: black;
}
a.hero-program__at-a-glance-item-value:not(:last-child):after {
    content: ", ";
    margin-right: .5rem;
    display: inline-block;
}
.programs-related a.fancy-link {
  margin-right: 0;
}

.programs-accelerated-masters {
  margin-bottom: 3.75rem;
}

.programs-summary-sentence a {
  color:#000;
  text-decoration:underline;
  text-decoration-color:#c8102e;
  font-weight:600;
  text-decoration-thickness:0.125rem;
  text-underline-offset:0.25rem;
  transition:.3s text-decoration-color ease-in-out
}
.programs-summary-sentence a:hover, .programs-summary-sentence a:focus {
  text-decoration-color: transparent;
}


@media screen and (min-width: 768px) {
  .programs-related ul li {
    margin-bottom: 0;
    margin-right: 3.125rem;
  }
}

@media screen and (min-width: 1024px) {
     html .rankings-accreditations--badges-with-rankings .rankings-accreditations__content {
       width: 9.938rem;
     }
}
html .text-content .button.button--inverse {
    background-color: #c8102e;
    color: #fff;
}
html .text-content .button.button--inverse:hover, html .text-content .button.button--inverse:focus-visible {
    background-color: #fff;
    color: #000;
}
.call-to-action a.button {
    margin-bottom: 1.875rem;
}
@media screen and (min-width: 768px) {
    .event-feed .paragraph-widget.paragraph-widget--event-feed {
        margin-bottom: 2.5rem;
    }
}
a.button {
    margin-right: 1.875rem;
}
span.fancy-link__arrow {
    margin-right: 3.125rem;
}

html .text-content a.fancy-link {
    text-decoration: none;
}
.ff-primary { 
    font-family: "Libre Baskerville", serif;
}
.fs-italic { 
    font-style:italic;
}
.subnav__list > ul > li:first-child a[aria-current='page']:before {
    display: none;
}

.news-article .text-content > figure:first-child {
    float: right;
    margin: 0;
    margin-inline-start: 1.25em;
    margin-block-end: 1.25em;
    max-inline-size: 40%;
    position: relative;
    img {
        height: auto;
    }
    @media (max-width: 950px) {
        float: none;
        margin-inline-start: 0;
        left: 50%;
        translate: -50% 0;
        max-inline-size: 100%;
        img {
            inline-size: 100%;
        }
    }
}

/* Landing Video Banner */
 .home.landing-page:has(.home-hero) {
     .home-hero {
         position: relative;
         margin-top: -23rem;
    }
     .hero-large-landing .home-hero {
         margin-top: -5rem;
    }
     .hero-landing__inner, nav.breadcrumbs {
         position: relative;
         z-index: 1;
    }
     &:not(:has(.alert-bar)) .home-hero__main-content-media-outer-wrap--loaded .home-hero__main-content-media {
         position: relative;
    }
    &:has(.alert-bar) .home-hero__main-content-media-outer-wrap--loaded .home-hero__main-content-media {
        position: relative;
    }
     html .home-hero__main-content-media iframe {
         position: relative;
         top: -45rem;
    }
     .hero-large-landing .home-hero__media-play-pause-button {
         inset: auto 7.8rem 3.5rem auto;
    }
     .hero-large-landing .home-hero__main-content-media {
         aspect-ratio: 1.22;
    }
}

 @media screen and (min-width: 768px) {
     .home.landing-page:has(.home-hero) {
         .hero-large-landing .home-hero__main-content-media {
             aspect-ratio: 2;
        }
     }
}
 @media screen and (min-width: 1024px) {
     .home.landing-page:has(.home-hero) {
         .hero-large-landing .home-hero__main-content-media-outer-wrap {
             padding-inline: 6.986rem;
        }
     }
}
 @media screen and (min-width: 1200px) {
     .home.landing-page:has(.home-hero) {
         .home-hero {
             margin-top: -20rem;
        }
         .hero-large-landing .home-hero {
             margin-top: -5rem;
        }
         .hero-large-landing .home-hero__main-content-media-outer-wrap {
             padding-inline: 12.475rem;
        }
         .hero-large-landing .home-hero__media-play-pause-button {
             inset: auto 14.5rem 3.5rem auto;
        }
    }
}
/* End Landing Video Banner */


/* LS "Clear"/List-Type-None UL List */
.text-content ul.clear-list {
  padding: 0;
}
.text-content ul.clear-list li::before {
  width: 0;
  height: 0;
}
/* END LS "Clear"/List-Type-None UL List */
